Fuentes/GEN/A2.CF.OPENRIA.Utilidades/Connected Services/UtilidadesDomainService/A2-OyD-OYDServer-RIA-Web-UtilidadesDomainService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/A2.OyD.OYDServer.RIA.Web.OYDUtilidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/A2.OyD.OYDServer.RIA.Web.OYDUtilidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2080/DLLO_OPENRIA/Services/A2-OyD-OYDServer-RIA-Web-UtilidadesDomainService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ItemCombo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Retorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="intID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemCombo" nillable="true" type="tns:ItemCombo" />
  <xs:complexType name="valoresparametro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Parametro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="valoresparametro" nillable="true" type="tns:valoresparametro" />
  <xs:complexType name="CamposObligatorios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actualizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormadePago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InfoSesion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCampoCondicionante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCampoObligado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreTabla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorCampoCondicionante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CamposObligatorios" nillable="true" type="tns:CamposObligatorios" />
  <xs:complexType name="ClienteInhabilitado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clienteinhabilitado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comitente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Forma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ingreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="porcentaje" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteInhabilitado" nillable="true" type="tns:ClienteInhabilitado" />
  <xs:complexType name="BuscadorClientes">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdmonValores" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Asociados" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClasificacionInversionista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodClasificacionInversionista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodFormaPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodOrdenanteLider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodPerfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodPerfilRiesgo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodReceptorLider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodTipoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodTipoIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodTipoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoOYD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contribuyente" type="xs:boolean" />
      <xs:element minOccurs="0" name="DireccionEnvio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FactorComisionCliente" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="FormaPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCompania" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdComitente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCodigoOYD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerfilRiesgo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetFuente" type="xs:boolean" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SucursalFiducia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRetencion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoVinculacion" type="ser:char" />
      <xs:element minOccurs="0" name="UltimoMovimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dtmFechaCierrePortafolio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuscadorClientes" nillable="true" type="tns:BuscadorClientes" />
  <xs:complexType name="BuscadorEspecies">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="AliasEspecie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CantidadISIN" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClasificacionRiesgo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodClasificacionRiesgo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodModalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodMoneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodTipoTasaFija" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emision" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Emisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsAccion" type="xs:boolean" />
      <xs:element minOccurs="0" name="Especie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estandarizada" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IDFungible" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDMoneda" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ISIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdIndicador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Indicador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorEspecie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mercado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nemotecnico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NitEmisor" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreMoneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PuntosIndicador" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Seleccione" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="TasaEfectiva" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="TasaFacial" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="TipoTasa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vencimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lngEmision" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuscadorEspecies" nillable="true" type="tns:BuscadorEspecies" />
  <xs:complexType name="BuscadorGenerico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clasificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoAuxiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EtiquetaCodItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EtiquetaIdItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional02" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional03" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional04" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional05" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional06" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional07" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional08" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional09" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional16" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional17" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional18" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional19" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAdicional20" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuscadorGenerico" nillable="true" type="tns:BuscadorGenerico" />
  <xs:complexType name="BuscadorOrdenantes">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionOrdenante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdComitente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdOrdenante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lider" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuscadorOrdenantes" nillable="true" type="tns:BuscadorOrdenantes" />
  <xs:complexType name="BuscadorCuentasDeposito">
    <xs:sequence>
      <xs:element minOccurs="0" name="Conector1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conector2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deposito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionCta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IdComitente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreBeneficiario1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreBeneficiario2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreDeposito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroCuentaDeposito" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NroDocBeneficiario1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NroDocBeneficiario2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoIdBeneficiario1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoIdBeneficiario2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuscadorCuentasDeposito" nillable="true" type="tns:BuscadorCuentasDeposito" />
  <xs:complexType name="DT">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DTS" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDComisionista" type="xs:int" />
      <xs:element minOccurs="0" name="IDDTS" type="xs:int" />
      <xs:element minOccurs="0" name="IDSucComisionista" type="xs:int" />
      <xs:element minOccurs="0" name="InfoSesion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DT" nillable="true" type="tns:DT" />
  <xs:complexType name="AuditoriaTabla">
    <xs:sequence>
      <xs:element minOccurs="0" name="Eliminacion" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdAuditoria" type="xs:int" />
      <xs:element minOccurs="0" name="InfoSesion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ingreso" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Modificacion" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="NombreTabla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditoriaTabla" nillable="true" type="tns:AuditoriaTabla" />
  <xs:complexType name="NIIFInicial">
    <xs:sequence>
      <xs:element minOccurs="0" name="Concepto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Criterio" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Operaciones" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tesoreria" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strConceptoPorDefecto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NIIFInicial" nillable="true" type="tns:NIIFInicial" />
  <xs:complexType name="GenerarArchivosPlanos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exitoso" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreArchivoPlano" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaArchivoPlano" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerarArchivosPlanos" nillable="true" type="tns:GenerarArchivosPlanos" />
  <xs:complexType name="ProcesoTipos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Actualizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EjecucionProceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NombreProceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolicitarFecha" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoProceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcesoTipos" nillable="true" type="tns:ProcesoTipos" />
  <xs:complexType name="Proceso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actualizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CantidadActual" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadRestante" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadTotal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FechaFin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaProceso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDPrimerRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDRegistroActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDUltimoRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcesoActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoProceso" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Proceso" nillable="true" type="tns:Proceso" />
  <xs:complexType name="ProcesoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actualizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exitoso" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDProceso" type="xs:int" />
      <xs:element minOccurs="0" name="IDRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcesoDetalle" nillable="true" type="tns:ProcesoDetalle" />
  <xs:complexType name="ResultadoProceso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exitoso" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoProceso" nillable="true" type="tns:ResultadoProceso" />
  <xs:complexType name="ArchivosDirectorio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bytes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHora" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ruta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaWeb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Seleccionado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArchivosDirectorio" nillable="true" type="tns:ArchivosDirectorio" />
  <xs:complexType name="TempRetornoCalculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CobraGMF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Confirmacion" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Exitoso" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDDetalle" type="xs:int" />
      <xs:element minOccurs="0" name="IDRetorno" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeCobroGMF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCobroGMF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pstrUsuarioConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TempRetornoCalculo" nillable="true" type="tns:TempRetornoCalculo" />
  <xs:complexType name="tblvalidarFechaCierre">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="exitoso" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblvalidarFechaCierre" nillable="true" type="tns:tblvalidarFechaCierre" />
  <xs:complexType name="ArrayOfItemCombo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemCombo" nillable="true" type="tns:ItemCombo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemCombo" nillable="true" type="tns:ArrayOfItemCombo" />
  <xs:complexType name="ArrayOfvaloresparametro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="valoresparametro" nillable="true" type="tns:valoresparametro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvaloresparametro" nillable="true" type="tns:ArrayOfvaloresparametro" />
  <xs:complexType name="ArrayOfCamposObligatorios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CamposObligatorios" nillable="true" type="tns:CamposObligatorios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCamposObligatorios" nillable="true" type="tns:ArrayOfCamposObligatorios" />
  <xs:complexType name="ArrayOfClienteInhabilitado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteInhabilitado" nillable="true" type="tns:ClienteInhabilitado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteInhabilitado" nillable="true" type="tns:ArrayOfClienteInhabilitado" />
  <xs:complexType name="ArrayOfBuscadorClientes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuscadorClientes" nillable="true" type="tns:BuscadorClientes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuscadorClientes" nillable="true" type="tns:ArrayOfBuscadorClientes" />
  <xs:complexType name="ArrayOfBuscadorEspecies">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuscadorEspecies" nillable="true" type="tns:BuscadorEspecies" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuscadorEspecies" nillable="true" type="tns:ArrayOfBuscadorEspecies" />
  <xs:complexType name="ArrayOfBuscadorGenerico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuscadorGenerico" nillable="true" type="tns:BuscadorGenerico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuscadorGenerico" nillable="true" type="tns:ArrayOfBuscadorGenerico" />
  <xs:complexType name="ArrayOfBuscadorOrdenantes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuscadorOrdenantes" nillable="true" type="tns:BuscadorOrdenantes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuscadorOrdenantes" nillable="true" type="tns:ArrayOfBuscadorOrdenantes" />
  <xs:complexType name="ArrayOfBuscadorCuentasDeposito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuscadorCuentasDeposito" nillable="true" type="tns:BuscadorCuentasDeposito" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuscadorCuentasDeposito" nillable="true" type="tns:ArrayOfBuscadorCuentasDeposito" />
  <xs:complexType name="ArrayOfDT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DT" nillable="true" type="tns:DT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDT" nillable="true" type="tns:ArrayOfDT" />
  <xs:complexType name="ArrayOfAuditoriaTabla">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuditoriaTabla" nillable="true" type="tns:AuditoriaTabla" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuditoriaTabla" nillable="true" type="tns:ArrayOfAuditoriaTabla" />
  <xs:complexType name="ArrayOfNIIFInicial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NIIFInicial" nillable="true" type="tns:NIIFInicial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNIIFInicial" nillable="true" type="tns:ArrayOfNIIFInicial" />
  <xs:complexType name="ArrayOfGenerarArchivosPlanos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenerarArchivosPlanos" nillable="true" type="tns:GenerarArchivosPlanos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenerarArchivosPlanos" nillable="true" type="tns:ArrayOfGenerarArchivosPlanos" />
  <xs:complexType name="ArrayOfProcesoTipos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcesoTipos" nillable="true" type="tns:ProcesoTipos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcesoTipos" nillable="true" type="tns:ArrayOfProcesoTipos" />
  <xs:complexType name="ArrayOfProceso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Proceso" nillable="true" type="tns:Proceso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProceso" nillable="true" type="tns:ArrayOfProceso" />
  <xs:complexType name="ArrayOfProcesoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcesoDetalle" nillable="true" type="tns:ProcesoDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcesoDetalle" nillable="true" type="tns:ArrayOfProcesoDetalle" />
  <xs:complexType name="ArrayOfResultadoProceso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultadoProceso" nillable="true" type="tns:ResultadoProceso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultadoProceso" nillable="true" type="tns:ArrayOfResultadoProceso" />
  <xs:complexType name="ArrayOfArchivosDirectorio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArchivosDirectorio" nillable="true" type="tns:ArchivosDirectorio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchivosDirectorio" nillable="true" type="tns:ArrayOfArchivosDirectorio" />
  <xs:complexType name="ArrayOfTempRetornoCalculo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TempRetornoCalculo" nillable="true" type="tns:TempRetornoCalculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTempRetornoCalculo" nillable="true" type="tns:ArrayOfTempRetornoCalculo" />
  <xs:complexType name="ArrayOftblvalidarFechaCierre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblvalidarFechaCierre" nillable="true" type="tns:tblvalidarFechaCierre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblvalidarFechaCierre" nillable="true" type="tns:ArrayOftblvalidarFechaCierre" />
</xs:schema>