Fuentes/GEN/A2.CF.OPENRIA.Utilidades/Connected Services/UtilidadesDomainService/A2-OyD-OYDServer-RIA-Web-UtilidadesDomainService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2080/DLLO_OPENRIA/Services/A2-OyD-OYDServer-RIA-Web-UtilidadesDomainService.svc?xsd=xsd3" namespace="DomainServices" />
  <xs:import schemaLocation="http://localhost:2080/DLLO_OPENRIA/Services/A2-OyD-OYDServer-RIA-Web-UtilidadesDomainService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Modulos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModulosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModulosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_Validacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ValidacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Seguridad_ValidacionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ValidacionSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ValidacionSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Seguridad_ValidacionSyncResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ObtenerIPCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ObtenerIPClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Seguridad_ObtenerIPClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ObtenerIPClienteSync">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ObtenerIPClienteSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Seguridad_ObtenerIPClienteSyncResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ObtenerUsuarioCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ObtenerUsuarioClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Seguridad_ObtenerUsuarioClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ObtenerUsuarioClienteSync">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Seguridad_ObtenerUsuarioClienteSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Seguridad_ObtenerUsuarioClienteSyncResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="DomainServices" minOccurs="0" name="cargarCombosResult" nillable="true" type="q1:QueryResultOfItemCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombos_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombos_UsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="DomainServices" minOccurs="0" name="cargarCombos_UsuarioResult" nillable="true" type="q2:QueryResultOfItemCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosEspecificos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrListasCombos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosEspecificosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="DomainServices" minOccurs="0" name="cargarCombosEspecificosResult" nillable="true" type="q3:QueryResultOfItemCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosEspecificos_SinUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrListasCombos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosEspecificos_SinUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="DomainServices" minOccurs="0" name="cargarCombosEspecificos_SinUsuarioResult" nillable="true" type="q4:QueryResultOfItemCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosEspecificos_ConUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrListasCombos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuarioLlamado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosEspecificos_ConUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="DomainServices" minOccurs="0" name="cargarCombosEspecificos_ConUsuarioResult" nillable="true" type="q5:QueryResultOfItemCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Verificaparametro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strparametro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificaparametroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificaparametroResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificaparametroSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strparametro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificaparametroSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificaparametroSyncResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaVerificaparametro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strparametro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strretorno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaVerificaparametroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="DomainServices" minOccurs="0" name="listaVerificaparametroResult" nillable="true" type="q6:QueryResultOfvaloresparametro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaVerificaparametroSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strparametro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strretorno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaVerificaparametroSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="DomainServices" minOccurs="0" name="listaVerificaparametroSyncResult" nillable="true" type="q7:QueryResultOfvaloresparametro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsularCamposObligatorios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrNombreTabla" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNombreCampoObligado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNombreCampoCondicionante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrValorCampoCondicionante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsularCamposObligatoriosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="DomainServices" minOccurs="0" name="ConsularCamposObligatoriosResult" nillable="true" type="q8:QueryResultOfCamposObligatorios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarClienteInhabilitado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrNroDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarClienteInhabilitadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="DomainServices" minOccurs="0" name="ValidarClienteInhabilitadoResult" nillable="true" type="q9:QueryResultOfClienteInhabilitado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarClienteInhabilitadoNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrNroDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarClienteInhabilitadoNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="DomainServices" minOccurs="0" name="ValidarClienteInhabilitadoNombreResult" nillable="true" type="q10:QueryResultOfClienteInhabilitado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarClienteInhabilitadoSegundoMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrNroDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psegundomensaje" type="xs:boolean" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarClienteInhabilitadoSegundoMensajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="DomainServices" minOccurs="0" name="ValidarClienteInhabilitadoSegundoMensajeResult" nillable="true" type="q11:QueryResultOfClienteInhabilitado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarListaClinton">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrForma" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plngIDComitente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrClienteInhabilitado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pdblPorcentajeCercania" type="xs:decimal" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarListaClintonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrabarListaClintonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosCondicional">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrListasCombos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCondicionTexto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pintCondicionNumerica" type="xs:int" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosCondicionalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="DomainServices" minOccurs="0" name="cargarCombosCondicionalResult" nillable="true" type="q12:QueryResultOfItemCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrCondicionFiltro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrEstadoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoVinculacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrAgrupacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plogExcluirCodigosCompania" type="xs:boolean" />
        <xs:element minOccurs="0" name="pintIDCompania" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="DomainServices" minOccurs="0" name="buscarClientesResult" nillable="true" type="q13:QueryResultOfBuscadorClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClientesOYDPLUS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrCondicionFiltro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrEstadoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoVinculacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrAgrupacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plogCargarUsuariosRestriccion" type="xs:boolean" />
        <xs:element minOccurs="0" name="plogCargarClientesTerecero" type="xs:boolean" />
        <xs:element minOccurs="0" name="pstrIDReceptor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoNegocio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoProducto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrPerfilRiesgo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plogExcluirCodigosCompania" type="xs:boolean" />
        <xs:element minOccurs="0" name="pintIDCompania" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClientesOYDPLUSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="DomainServices" minOccurs="0" name="buscarClientesOYDPLUSResult" nillable="true" type="q14:QueryResultOfBuscadorClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClienteEspecifico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrIdCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrAgrupacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClienteEspecificoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="DomainServices" minOccurs="0" name="buscarClienteEspecificoResult" nillable="true" type="q15:QueryResultOfBuscadorClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClienteEspecificoCompania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrIdCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrAgrupacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plogExcluirCodigosCompania" type="xs:boolean" />
        <xs:element minOccurs="0" name="pintIDCompania" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClienteEspecificoCompaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="DomainServices" minOccurs="0" name="buscarClienteEspecificoCompaniaResult" nillable="true" type="q16:QueryResultOfBuscadorClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClientesconFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrCondicionFiltro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrEstadoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoVinculacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrAgrupacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plogExcluirCodigosCompania" type="xs:boolean" />
        <xs:element minOccurs="0" name="pintIDCompania" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrfiltroAdicional1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrfiltroAdicional2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrfiltroAdicional3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClientesconFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="DomainServices" minOccurs="0" name="buscarClientesconFiltrosResult" nillable="true" type="q17:QueryResultOfBuscadorClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClientesOYDPLUSconFiltros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrCondicionFiltro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrEstadoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoVinculacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrAgrupacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plogCargarUsuariosRestriccion" type="xs:boolean" />
        <xs:element minOccurs="0" name="plogCargarClientesTerecero" type="xs:boolean" />
        <xs:element minOccurs="0" name="pstrIDReceptor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoNegocio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoProducto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrPerfilRiesgo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plogExcluirCodigosCompania" type="xs:boolean" />
        <xs:element minOccurs="0" name="pintIDCompania" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrfiltroAdicional1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrfiltroAdicional2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrfiltroAdicional3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClientesOYDPLUSconFiltrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="DomainServices" minOccurs="0" name="buscarClientesOYDPLUSconFiltrosResult" nillable="true" type="q18:QueryResultOfBuscadorClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarEspecies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrCondicionFiltro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrMercado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrEstadoEspecie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrAgrupacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarEspeciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="DomainServices" minOccurs="0" name="buscarEspeciesResult" nillable="true" type="q19:QueryResultOfBuscadorEspecies" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarEspeciesControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrCondicionFiltro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrMercado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrEstadoEspecie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrAgrupacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plogTraerEspeciesVencidas" type="xs:boolean" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarEspeciesControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="DomainServices" minOccurs="0" name="buscarEspeciesControlResult" nillable="true" type="q20:QueryResultOfBuscadorEspecies" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarEspeciesOyDPLUS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrCondicionFiltro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrMercado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrEstadoEspecie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrAgrupacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoNegocio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoProducto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plogTraerEspeciesVencidas" type="xs:boolean" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarEspeciesOyDPLUSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="DomainServices" minOccurs="0" name="buscarEspeciesOyDPLUSResult" nillable="true" type="q21:QueryResultOfBuscadorEspecies" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarNemotecnicoEspecifico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrMercado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNemotecnico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarNemotecnicoEspecificoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="DomainServices" minOccurs="0" name="buscarNemotecnicoEspecificoResult" nillable="true" type="q22:QueryResultOfBuscadorEspecies" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrCondicionFiltro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoItem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrEstadoItem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrAgrupacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCondicion1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCondicion2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="DomainServices" minOccurs="0" name="buscarItemsResult" nillable="true" type="q23:QueryResultOfBuscadorGenerico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarItemEspecifico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrTipoItem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrIdItem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarItemEspecificoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="DomainServices" minOccurs="0" name="buscarItemEspecificoResult" nillable="true" type="q24:QueryResultOfBuscadorGenerico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarOrdenantesComitente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrIdComitente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarOrdenantesComitenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="DomainServices" minOccurs="0" name="buscarOrdenantesComitenteResult" nillable="true" type="q25:QueryResultOfBuscadorOrdenantes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarCuentasDepositoComitente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrIdComitente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plogRetornarTodasLosDepositos" type="xs:boolean" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarCuentasDepositoComitenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="DomainServices" minOccurs="0" name="buscarCuentasDepositoComitenteResult" nillable="true" type="q26:QueryResultOfBuscadorCuentasDeposito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarFechaCierre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrModulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarFechaCierreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultarFechaCierreResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarFechaCierreSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrModulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarFechaCierreSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultarFechaCierreSyncResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarConsecutivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrNombreConsecutivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrIdOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarConsecutivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultarConsecutivoResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreimpresoOLineas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreimpresoOLineasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PreimpresoOLineasResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarFechaHabilPosteriorCierreCompania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintIDCompania" type="xs:int" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarFechaHabilPosteriorCierreCompaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultarFechaHabilPosteriorCierreCompaniaResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarFechaHabilPosteriorCierreCompaniaSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintIDCompania" type="xs:int" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarFechaHabilPosteriorCierreCompaniaSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultarFechaHabilPosteriorCierreCompaniaSyncResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarFechaCierreCompania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintIDCompania" type="xs:int" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarFechaCierreCompaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultarFechaCierreCompaniaResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarFechaCierreCompaniaSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintIDCompania" type="xs:int" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarFechaCierreCompaniaSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultarFechaCierreCompaniaSyncResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTSFiltrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrFiltro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTSFiltrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="DomainServices" minOccurs="0" name="DTSFiltrarResult" nillable="true" type="q27:QueryResultOfDT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTSConsultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIDDTS" type="xs:int" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTSConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="DomainServices" minOccurs="0" name="DTSConsultarResult" nillable="true" type="q28:QueryResultOfDT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerDTPorDefecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerDTPorDefectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="DomainServices" minOccurs="0" name="TraerDTPorDefectoResult" nillable="true" type="q29:QueryResultOfDT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuariosDTS_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintIdDTS" type="xs:int" />
        <xs:element minOccurs="0" name="pstrUsuariosConsecutivos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuariosDTS_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuariosDTS_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditoriaFiltrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrOpcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNombreTabla" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditoriaFiltrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="DomainServices" minOccurs="0" name="AuditoriaFiltrarResult" nillable="true" type="q30:QueryResultOfAuditoriaTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditoriaConsultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrOpcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNombreTabla" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plogIngreso" type="xs:boolean" />
        <xs:element minOccurs="0" name="plogModificacion" type="xs:boolean" />
        <xs:element minOccurs="0" name="plogEliminacion" type="xs:boolean" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditoriaConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="DomainServices" minOccurs="0" name="AuditoriaConsultarResult" nillable="true" type="q31:QueryResultOfAuditoriaTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditoriaPorDefecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditoriaPorDefectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="DomainServices" minOccurs="0" name="AuditoriaPorDefectoResult" nillable="true" type="q32:QueryResultOfAuditoriaTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosAuditoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrListasCombos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosAuditoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="DomainServices" minOccurs="0" name="cargarCombosAuditoriaResult" nillable="true" type="q33:QueryResultOfItemCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosEspeciesCalculosFinancieros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosEspeciesCalculosFinancierosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="DomainServices" minOccurs="0" name="cargarCombosEspeciesCalculosFinancierosResult" nillable="true" type="q34:QueryResultOfItemCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosSistemasCargaArchivos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosSistemasCargaArchivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="DomainServices" minOccurs="0" name="cargarCombosSistemasCargaArchivosResult" nillable="true" type="q35:QueryResultOfItemCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatosInforme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pdtmFechainicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pdtmFechafin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pstrTabla" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrFiltroClave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrFiltroContenido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatosInformeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DatosInformeResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Guardar_ArchivoServidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NombreArchivo" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Lista" nillable="true" type="q36:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Guardar_ArchivoServidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Guardar_ArchivoServidorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerParametrosAppConsola">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerParametrosAppConsolaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="DomainServices" minOccurs="0" name="leerParametrosAppConsolaResult" nillable="true" type="q37:QueryResultOfItemCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerParametrosAppConsolaSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leerParametrosAppConsolaSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="DomainServices" minOccurs="0" name="leerParametrosAppConsolaSyncResult" nillable="true" type="q38:QueryResultOfItemCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosNiff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrCargarParametro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pintItems" type="xs:int" />
        <xs:element minOccurs="0" name="pstrCriterio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarCombosNiffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="DomainServices" minOccurs="0" name="cargarCombosNiffResult" nillable="true" type="q39:QueryResultOfItemCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSegmentosNegocios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pxmlCodigosSegmentos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intIDConcepto" type="xs:int" />
        <xs:element minOccurs="0" name="logOperacionesActivo" type="xs:boolean" />
        <xs:element minOccurs="0" name="plogTesoreriaActivo" type="xs:boolean" />
        <xs:element minOccurs="0" name="pstrSegmentoDefecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSegmentosNegociosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarSegmentosNegociosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NIIF_ConsultaInicial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintConcepto" type="xs:int" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NIIF_ConsultaInicialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="DomainServices" minOccurs="0" name="NIIF_ConsultaInicialResult" nillable="true" type="q40:QueryResultOfNIIFInicial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarArchivoPlano">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrCarpetaProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrParametros" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNombreArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrSeparador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrExtensionArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrMaquina" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarArchivoPlanoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="DomainServices" minOccurs="0" name="GenerarArchivoPlanoResult" nillable="true" type="q41:QueryResultOfGenerarArchivosPlanos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarArchivoPlanoSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrCarpetaProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrParametros" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNombreArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrSeparador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrExtensionArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrMaquina" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarArchivoPlanoSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="DomainServices" minOccurs="0" name="GenerarArchivoPlanoSyncResult" nillable="true" type="q42:QueryResultOfGenerarArchivosPlanos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarArchivoReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrRutaServidorReportes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrReporte" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrParametrosReporte" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrSeparadorParametros" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrFormatoReporte" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCarpetaProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNombreArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarArchivoReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="DomainServices" minOccurs="0" name="GenerarArchivoReporteResult" nillable="true" type="q43:QueryResultOfGenerarArchivosPlanos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarArchivoReporteSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrRutaServidorReportes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrReporte" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrParametrosReporte" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrSeparadorParametros" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrFormatoReporte" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCarpetaProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNombreArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarArchivoReporteSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="DomainServices" minOccurs="0" name="GenerarArchivoReporteSyncResult" nillable="true" type="q44:QueryResultOfGenerarArchivosPlanos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Procesos_ConsultarTipos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Procesos_ConsultarTiposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="DomainServices" minOccurs="0" name="Procesos_ConsultarTiposResult" nillable="true" type="q45:QueryResultOfProcesoTipos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Procesos_Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintIDTipoProceso" type="xs:int" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Procesos_ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="DomainServices" minOccurs="0" name="Procesos_ConsultarResult" nillable="true" type="q46:QueryResultOfProceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Procesos_ConsultarDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintIDProceso" type="xs:int" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Procesos_ConsultarDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="DomainServices" minOccurs="0" name="Procesos_ConsultarDetalleResult" nillable="true" type="q47:QueryResultOfProcesoDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Procesos_Iniciar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintIDTipoProceso" type="xs:int" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plogSolicitarFecha" type="xs:boolean" />
        <xs:element minOccurs="0" name="pdtmFechaProceso" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Procesos_IniciarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="DomainServices" minOccurs="0" name="Procesos_IniciarResult" nillable="true" type="q48:QueryResultOfResultadoProceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarConsecutivoExistente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrNombreConsecutivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarConsecutivoExistenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultarConsecutivoExistenteResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarArchivosDirectorioEnDirectorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrDirectorioUploads" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarArchivosDirectorioEnDirectorioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="DomainServices" minOccurs="0" name="ListarArchivosDirectorioEnDirectorioResult" nillable="true" type="q49:QueryResultOfArchivosDirectorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarArchivosDirectorioEnDirectorioSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrDirectorioUploads" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarArchivosDirectorioEnDirectorioSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="DomainServices" minOccurs="0" name="ListarArchivosDirectorioEnDirectorioSyncResult" nillable="true" type="q50:QueryResultOfArchivosDirectorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarCobroGMF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrNombreConsecutivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pintIDBanco" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="pstrNombreBeneficiario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrDocumentoBeneficiario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoDocumentoBeneficiario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrFormaPago" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoCheque" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCuentaBancaria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrDetalleInstruccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrDetalles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarCobroGMFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="DomainServices" minOccurs="0" name="VerificarCobroGMFResult" nillable="true" type="q51:QueryResultOfTempRetornoCalculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarCobroGMFSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrNombreConsecutivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pintIDBanco" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="pstrNombreBeneficiario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrDocumentoBeneficiario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoDocumentoBeneficiario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrFormaPago" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoCheque" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCuentaBancaria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrDetalleInstruccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrDetalles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarCobroGMFSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="DomainServices" minOccurs="0" name="VerificarCobroGMFSyncResult" nillable="true" type="q52:QueryResultOfTempRetornoCalculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarFechaCierre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrModulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrAccionCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrDescripcionModulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pdtmFechaAValidar" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarFechaCierreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="DomainServices" minOccurs="0" name="ValidarFechaCierreResult" nillable="true" type="q53:QueryResultOftblvalidarFechaCierre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarFechaCierreSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrModulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrAccionCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrDescripcionModulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pdtmFechaAValidar" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrInfoConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarFechaCierreSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="DomainServices" minOccurs="0" name="ValidarFechaCierreSyncResult" nillable="true" type="q54:QueryResultOftblvalidarFechaCierre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="DomainServices" minOccurs="0" name="changeSet" nillable="true" type="q55:ArrayOfChangeSetEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="DomainServices" minOccurs="0" name="SubmitChangesResult" nillable="true" type="q56:ArrayOfChangeSetEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>