Fuentes/NET/A2.OyD.Clientes.WPF/Service References/ServicioDocumentador/ServicioDocumentador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioDocumentador" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://a2webdllo:6623/ServicioDocumentadorGenerico/ServicioDocumentador.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://a2webdllo:6623/ServicioDocumentadorGenerico/ServicioDocumentador.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://a2webdllo:6623/ServicioDocumentadorGenerico/ServicioDocumentador.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AAS.Objetos.Documentador" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioDocumentador_NroDigitosDocumentador_InputMessage">
    <wsdl:part name="parameters" element="tns:NroDigitosDocumentador" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_NroDigitosDocumentador_OutputMessage">
    <wsdl:part name="parameters" element="tns:NroDigitosDocumentadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_ValidarIngresoDocumentador_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarIngresoDocumentador" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_ValidarIngresoDocumentador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarIngresoDocumentadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_RegistrarIngresoDocumentador_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarIngresoDocumentador" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_RegistrarIngresoDocumentador_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarIngresoDocumentadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_Ingresar_Documento_InputMessage">
    <wsdl:part name="parameters" element="tns:Ingresar_Documento" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_Ingresar_Documento_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ingresar_DocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_ConsultarConfiguracion_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarConfiguracion" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_ConsultarConfiguracion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarConfiguracionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_ConsultarDocumentos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDocumentos" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_ConsultarDocumentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDocumentosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_EliminarDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDocumento" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_EliminarDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_Codigo_PermitirVisualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Codigo_PermitirVisualizar" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_Codigo_PermitirVisualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Codigo_PermitirVisualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_Codigo_PermitirEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Codigo_PermitirEliminar" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_Codigo_PermitirEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Codigo_PermitirEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_Codigo_PermitirCargar_InputMessage">
    <wsdl:part name="parameters" element="tns:Codigo_PermitirCargar" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_Codigo_PermitirCargar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Codigo_PermitirCargarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_ValidarDocumentoExiste_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarDocumentoExiste" />
  </wsdl:message>
  <wsdl:message name="IServicioDocumentador_ValidarDocumentoExiste_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarDocumentoExisteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioDocumentador">
    <wsdl:operation name="NroDigitosDocumentador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocumentador/NroDigitosDocumentador" message="tns:IServicioDocumentador_NroDigitosDocumentador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocumentador/NroDigitosDocumentadorResponse" message="tns:IServicioDocumentador_NroDigitosDocumentador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarIngresoDocumentador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocumentador/ValidarIngresoDocumentador" message="tns:IServicioDocumentador_ValidarIngresoDocumentador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocumentador/ValidarIngresoDocumentadorResponse" message="tns:IServicioDocumentador_ValidarIngresoDocumentador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarIngresoDocumentador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocumentador/RegistrarIngresoDocumentador" message="tns:IServicioDocumentador_RegistrarIngresoDocumentador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocumentador/RegistrarIngresoDocumentadorResponse" message="tns:IServicioDocumentador_RegistrarIngresoDocumentador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ingresar_Documento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocumentador/Ingresar_Documento" message="tns:IServicioDocumentador_Ingresar_Documento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocumentador/Ingresar_DocumentoResponse" message="tns:IServicioDocumentador_Ingresar_Documento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarConfiguracion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocumentador/ConsultarConfiguracion" message="tns:IServicioDocumentador_ConsultarConfiguracion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocumentador/ConsultarConfiguracionResponse" message="tns:IServicioDocumentador_ConsultarConfiguracion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarDocumentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocumentador/ConsultarDocumentos" message="tns:IServicioDocumentador_ConsultarDocumentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocumentador/ConsultarDocumentosResponse" message="tns:IServicioDocumentador_ConsultarDocumentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocumentador/EliminarDocumento" message="tns:IServicioDocumentador_EliminarDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocumentador/EliminarDocumentoResponse" message="tns:IServicioDocumentador_EliminarDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Codigo_PermitirVisualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocumentador/Codigo_PermitirVisualizar" message="tns:IServicioDocumentador_Codigo_PermitirVisualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocumentador/Codigo_PermitirVisualizarResponse" message="tns:IServicioDocumentador_Codigo_PermitirVisualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Codigo_PermitirEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocumentador/Codigo_PermitirEliminar" message="tns:IServicioDocumentador_Codigo_PermitirEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocumentador/Codigo_PermitirEliminarResponse" message="tns:IServicioDocumentador_Codigo_PermitirEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Codigo_PermitirCargar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocumentador/Codigo_PermitirCargar" message="tns:IServicioDocumentador_Codigo_PermitirCargar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocumentador/Codigo_PermitirCargarResponse" message="tns:IServicioDocumentador_Codigo_PermitirCargar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarDocumentoExiste">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDocumentador/ValidarDocumentoExiste" message="tns:IServicioDocumentador_ValidarDocumentoExiste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDocumentador/ValidarDocumentoExisteResponse" message="tns:IServicioDocumentador_ValidarDocumentoExiste_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioDocumentador" type="tns:IServicioDocumentador">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NroDigitosDocumentador">
      <soap:operation soapAction="http://tempuri.org/IServicioDocumentador/NroDigitosDocumentador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarIngresoDocumentador">
      <soap:operation soapAction="http://tempuri.org/IServicioDocumentador/ValidarIngresoDocumentador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarIngresoDocumentador">
      <soap:operation soapAction="http://tempuri.org/IServicioDocumentador/RegistrarIngresoDocumentador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ingresar_Documento">
      <soap:operation soapAction="http://tempuri.org/IServicioDocumentador/Ingresar_Documento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarConfiguracion">
      <soap:operation soapAction="http://tempuri.org/IServicioDocumentador/ConsultarConfiguracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDocumentos">
      <soap:operation soapAction="http://tempuri.org/IServicioDocumentador/ConsultarDocumentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDocumento">
      <soap:operation soapAction="http://tempuri.org/IServicioDocumentador/EliminarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Codigo_PermitirVisualizar">
      <soap:operation soapAction="http://tempuri.org/IServicioDocumentador/Codigo_PermitirVisualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Codigo_PermitirEliminar">
      <soap:operation soapAction="http://tempuri.org/IServicioDocumentador/Codigo_PermitirEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Codigo_PermitirCargar">
      <soap:operation soapAction="http://tempuri.org/IServicioDocumentador/Codigo_PermitirCargar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarDocumentoExiste">
      <soap:operation soapAction="http://tempuri.org/IServicioDocumentador/ValidarDocumentoExiste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioDocumentador">
    <wsdl:port name="BasicHttpBinding_IServicioDocumentador" binding="tns:BasicHttpBinding_IServicioDocumentador">
      <soap:address location="http://a2webdllo:6623/ServicioDocumentadorGenerico/ServicioDocumentador.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>