Fuentes/NET/A2.OyD.Clientes.WPF/Service References/ServicioDocumentador/ServicioDocumentador2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AAS.Objetos.Documentador" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AAS.Objetos.Documentador" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfdcDocumentadorDataContext.IngresoDocumentoResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dcDocumentadorDataContext.IngresoDocumentoResult" nillable="true" type="tns:dcDocumentadorDataContext.IngresoDocumentoResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdcDocumentadorDataContext.IngresoDocumentoResult" nillable="true" type="tns:ArrayOfdcDocumentadorDataContext.IngresoDocumentoResult" />
  <xs:complexType name="dcDocumentadorDataContext.IngresoDocumentoResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ValorRetorno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dcDocumentadorDataContext.IngresoDocumentoResult" nillable="true" type="tns:dcDocumentadorDataContext.IngresoDocumentoResult" />
  <xs:complexType name="ArrayOfResultadoIngreso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultadoIngreso" nillable="true" type="tns:ResultadoIngreso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultadoIngreso" nillable="true" type="tns:ArrayOfResultadoIngreso" />
  <xs:complexType name="ResultadoIngreso">
    <xs:sequence>
      <xs:element minOccurs="0" name="IntNroError" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Intid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="intResultado" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoIngreso" nillable="true" type="tns:ResultadoIngreso" />
  <xs:complexType name="ArrayOfDatoEjecucion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DatoEjecucion" nillable="true" type="tns:DatoEjecucion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatoEjecucion" nillable="true" type="tns:ArrayOfDatoEjecucion" />
  <xs:complexType name="DatoEjecucion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoExterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdControlIngreso" type="xs:int" />
      <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Permiso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoIDCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatoEjecucion" nillable="true" type="tns:DatoEjecucion" />
  <xs:complexType name="ArrayOfDocumentos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documentos" nillable="true" type="tns:Documentos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentos" nillable="true" type="tns:ArrayOfDocumentos" />
  <xs:complexType name="Documentos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodigoAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoExterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Eliminar" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Entregado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="NombreArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreGuardado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dtmFechaEntrega" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dtmFinalVigencia" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dtmInicioVigencia" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="intIdDocumento" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="strTipoDocumento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Documentos" nillable="true" type="tns:Documentos" />
</xs:schema>