Fuentes/NET/A2.OyD.Clientes.WPF/Service References/ServicioDocumentador/ServicioDocumentador.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://a2webdllo:6623/ServicioDocumentadorGenerico/ServicioDocumentador.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AAS.Objetos.Documentador" />
  <xs:element name="NroDigitosDocumentador">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NroDigitosDocumentadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NroDigitosDocumentadorResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarIngresoDocumentador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrIdRegistro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarIngresoDocumentadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarIngresoDocumentadorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarIngresoDocumentador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCodigoAplicacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCodigoCategoria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoIdCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNroDocumentoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCodigoExterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrPermiso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCodigoIngreso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarIngresoDocumentadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AAS.Objetos.Documentador" minOccurs="0" name="RegistrarIngresoDocumentadorResult" nillable="true" type="q1:ArrayOfdcDocumentadorDataContext.IngresoDocumentoResult" />
        <xs:element minOccurs="0" name="pstrCodigoIngreso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ingresar_Documento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pintidControlIngreso" type="xs:int" />
        <xs:element minOccurs="0" name="pstrCodigoAplicacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCodigoCategoria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCodigoExterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoIdCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNroDocumentoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrRutaArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrSize" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNombreOriginal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNombreGuardado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pbitEntregado" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="pbitActivo" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="pdtmFechaEntrega" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pdtmInicioVigencia" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pdtmFinalVigencia" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pstrObservaciones" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ingresar_DocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AAS.Objetos.Documentador" minOccurs="0" name="Ingresar_DocumentoResult" nillable="true" type="q2:ArrayOfResultadoIngreso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarConfiguracion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pIdValidacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarConfiguracionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AAS.Objetos.Documentador" minOccurs="0" name="ConsultarConfiguracionResult" nillable="true" type="q3:ArrayOfDatoEjecucion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDocumentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrCodigoAplicacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCodigoExterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoIdCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNroDocumentoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCodigoCategoria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDocumentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AAS.Objetos.Documentador" minOccurs="0" name="ConsultarDocumentosResult" nillable="true" type="q4:ArrayOfDocumentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintIdDocumento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AAS.Objetos.Documentador" minOccurs="0" name="EliminarDocumentoResult" nillable="true" type="q5:ArrayOfResultadoIngreso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Codigo_PermitirVisualizar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Codigo_PermitirVisualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo_PermitirVisualizarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Codigo_PermitirEliminar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Codigo_PermitirEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo_PermitirEliminarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Codigo_PermitirCargar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Codigo_PermitirCargarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo_PermitirCargarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarDocumentoExiste">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pstrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCategoria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrCodigoAplicacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoIdCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrNroDocumentoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pstrTipoDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarDocumentoExisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarDocumentoExisteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>