Fuentes/NET/A2.OyD.Clientes.WPF/Service References/WSPhoenix/ClientesPhDefinitions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<s0:definitions xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://www.openuri.org/" xmlns:s3="http://www.openuri.org/2006/12/wsdl/upgradedJWS" xmlns="" name="ClientesPhDefinitions" targetNamespace="http://www.openuri.org/" xmlns:s0="http://schemas.xmlsoap.org/wsdl/">
  <s0:types>
    <xs:schema xmlns:tns="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/eaiInClientesPH" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/eaiInClientesPH" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ReasignacionGerente">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Empleado" type="xs:int" />
            <xs:element name="RimCliente" type="xs:int" />
            <xs:element name="CodGerente" type="xs:int" />
            <xs:element name="aplicacionExterna" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConsultaClientes">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RimCliente" type="xs:int" />
            <xs:element name="TipoIdentificacion" type="xs:int" />
            <xs:element name="NumIdentificacion" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConsultaClientesMas">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RimCliente" type="xs:int" />
            <xs:element name="TipoIdentificacion" type="xs:int" />
            <xs:element name="NumIdentificacion" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConsultaDirecciones">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RimCliente" type="xs:int" />
            <xs:element name="TipoIdentificacion" type="xs:int" />
            <xs:element name="NumIdentificacion" type="xs:string" />
            <xs:element name="NumeroDireccion" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/eaiInCreaClientesPH" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/eaiInCreaClientesPH" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="VerificaEstadoCliente">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Empleado" type="xs:int" />
            <xs:element name="ApplExterno" type="xs:string" />
            <xs:element name="TipoIdentificacion" type="xs:int" />
            <xs:element name="NumIdentificacion" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreaCliente">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Empleado" type="xs:int" />
            <xs:element name="ApplExterno" type="xs:string" />
            <xs:element name="RimType" type="xs:string" />
            <xs:element name="Nombres" type="xs:string" />
            <xs:element name="PriApellido" type="xs:string" />
            <xs:element name="SegApellido" type="xs:string" />
            <xs:element name="TipoID" type="xs:int" />
            <xs:element name="NumID" type="xs:string" />
            <xs:element name="Sexo" type="xs:string" />
            <xs:element name="tFchaNacmto" type="xs:string" />
            <xs:element name="PaisNac" type="xs:string" />
            <xs:element name="DeptoNac" type="xs:string" />
            <xs:element name="CiudadNac" type="xs:string" />
            <xs:element name="CodNivEst" type="xs:int" />
            <xs:element name="DirResd" type="xs:string" />
            <xs:element name="PaisResd" type="xs:string" />
            <xs:element name="DeptoResd" type="xs:string" />
            <xs:element name="CiudadRes" type="xs:string" />
            <xs:element name="TelefRes" type="xs:double" />
            <xs:element name="OtroTelf" type="xs:double" />
            <xs:element name="OTelfExt" type="xs:int" />
            <xs:element name="Fax" type="xs:double" />
            <xs:element name="FaxExt" type="xs:int" />
            <xs:element name="Cell" type="xs:double" />
            <xs:element name="Email" type="xs:string" />
            <xs:element name="ActEcon" type="xs:int" />
            <xs:element name="SectEcon" type="xs:string" />
            <xs:element name="CodClase" type="xs:int" />
            <xs:element name="BranchNo" type="xs:int" />
            <xs:element name="RestrictId" type="xs:int" />
            <xs:element name="RelBanco" type="xs:int" />
            <xs:element name="GerComerc" type="xs:int" />
            <xs:element name="TpoBanca" type="xs:string" />
            <xs:element name="IdCampana" type="xs:int" />
            <xs:element name="LimEndeud" type="xs:double" />
            <xs:element name="tProxRev" type="xs:string" />
            <xs:element name="TipoClasif" type="xs:string" />
            <xs:element name="CalfActual" type="xs:string" />
            <xs:element name="tFechCalf" type="xs:string" />
            <xs:element name="IdTpoSrvcio" type="xs:int" />
            <xs:element name="EstrVincula" type="xs:int" />
            <xs:element name="ModCartera" type="xs:string" />
            <xs:element name="OrigenArchivo" type="xs:string" />
            <xs:element name="GrupoCargo" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreaDatosAdicionalesCliente">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Empleado" type="xs:int" />
            <xs:element name="ApplExterno" type="xs:string" />
            <xs:element name="TipoID" type="xs:int" />
            <xs:element name="NumID" type="xs:string" />
            <xs:element name="ValAdi" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreaCuentaAhorro">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Empleado" type="xs:int" />
            <xs:element name="ApplExterno" type="xs:string" />
            <xs:element name="TipoID" type="xs:int" />
            <xs:element name="NumID" type="xs:string" />
            <xs:element name="TpoCta" type="xs:string" />
            <xs:element name="Clase" type="xs:int" />
            <xs:element name="BranchNo" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/creaCliente/impl" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/creaCliente/impl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="WS_ResultadoEstadoCliente">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Error" type="xs:string" />
            <xs:element name="Descripcion" type="xs:string" />
            <xs:element name="Estado" type="xs:int" />
            <xs:element name="Razon" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WS_ResultadoCreaCliente">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Error" type="xs:string" />
            <xs:element name="Descripcion" type="xs:string" />
            <xs:element name="Rim" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WS_ResultadoCreaDatosAdicionales">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Error" type="xs:string" />
            <xs:element name="Descripcion" type="xs:string" />
            <xs:element name="ErrorEn" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WS_ResultadoCreaCuentaAhorros">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Error" type="xs:string" />
            <xs:element name="Descripcion" type="xs:string" />
            <xs:element name="NumCta" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/impl" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/impl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="WS_ResultadoSimple">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Error" type="xs:string" />
            <xs:element name="Descripcion" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RtaConsultaListas" type="xs:string" />
      <xs:element name="WS_ResultadoConsultaClientes">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Error" type="xs:string" />
            <xs:element name="Descripcion" type="xs:string" />
            <xs:element name="nRimNo" type="xs:int" />
            <xs:element name="sRimType" type="xs:string" />
            <xs:element name="sSex" type="xs:string" />
            <xs:element name="nTitleId" type="xs:int" />
            <xs:element name="sLastName" type="xs:string" />
            <xs:element name="sFirstName" type="xs:string" />
            <xs:element name="sMiddleInitial" type="xs:string" />
            <xs:element name="sPreferredName" type="xs:string" />
            <xs:element name="sSuffix" type="xs:string" />
            <xs:element name="sTaxIdNumber" type="xs:string" />
            <xs:element name="sTinFormat" type="xs:string" />
            <xs:element name="dtBirthDt" type="xs:dateTime" />
            <xs:element name="dtDeceasedDt" type="xs:dateTime" />
            <xs:element name="sCityOfBirth" type="xs:string" />
            <xs:element name="nIdentId" type="xs:int" />
            <xs:element name="sIdValue" type="xs:string" />
            <xs:element name="sMotherMaidenName" type="xs:string" />
            <xs:element name="dtEffectiveDt" type="xs:dateTime" />
            <xs:element name="sStatus" type="xs:string" />
            <xs:element name="nClassCode" type="xs:int" />
            <xs:element name="nBranchNo" type="xs:int" />
            <xs:element name="nRsmIdNo" type="xs:int" />
            <xs:element name="sTINRsm" type="xs:string" />
            <xs:element name="nRiskCode" type="xs:int" />
            <xs:element name="sRiskReason" type="xs:string" />
            <xs:element name="sTaxIdCertified" type="xs:string" />
            <xs:element name="dtBackupStatDt" type="xs:dateTime" />
            <xs:element name="sTaxExempReason" type="xs:string" />
            <xs:element name="dtExempExpiryDt" type="xs:dateTime" />
            <xs:element name="dtCertDate" type="xs:dateTime" />
            <xs:element name="sBackupWhithold" type="xs:string" />
            <xs:element name="sBackupWhReason" type="xs:string" />
            <xs:element name="dtBackupStartDt" type="xs:dateTime" />
            <xs:element name="dtBackupStatChDt" type="xs:dateTime" />
            <xs:element name="dtBNotice1Dt" type="xs:dateTime" />
            <xs:element name="dtBNotice2Dt" type="xs:dateTime" />
            <xs:element name="nRestrictId" type="xs:int" />
            <xs:element name="sRegOCode" type="xs:string" />
            <xs:element name="sRetainDebtHist" type="xs:string" />
            <xs:element name="sPurchased" type="xs:string" />
            <xs:element name="sCountryCode" type="xs:string" />
            <xs:element name="nUserIdNo" type="xs:int" />
            <xs:element name="sPotential" type="xs:string" />
            <xs:element name="sEconomicGroup" type="xs:string" />
            <xs:element name="nSicCode" type="xs:int" />
            <xs:element name="sEconomicSector" type="xs:string" />
            <xs:element name="nTintypeId" type="xs:int" />
            <xs:element name="sCountryOfBirth" type="xs:string" />
            <xs:element name="sTitleECode" type="xs:string" />
            <xs:element name="SCityOfBirthECode" type="xs:string" />
            <xs:element name="sStateOfBirth" type="xs:string" />
            <xs:element name="sCountyOfBirth" type="xs:string" />
            <xs:element name="nClasifPrev" type="xs:int" />
            <xs:element name="nDateClasif" type="xs:dateTime" />
            <xs:element name="nDateLastClasif" type="xs:dateTime" />
            <xs:element name="sClasifType" type="xs:string" />
            <xs:element name="sSector_type" type="xs:string" />
            <xs:element name="sUNBankTypeNom" type="xs:string" />
            <xs:element name="nRowCount1" type="xs:int" />
            <xs:element name="nRowCount2" type="xs:int" />
            <xs:element name="nPdreRimNo" type="xs:int" />
            <xs:element name="sPdreFirstName" type="xs:string" />
            <xs:element name="sPdreLastName" type="xs:string" />
            <xs:element name="sIndcdorCbzaGrpo" type="xs:string" />
            <xs:element name="sAddressLine1" type="xs:string" />
            <xs:element name="sPhone1" type="xs:string" />
            <xs:element name="sPhone2" type="xs:string" />
            <xs:element name="sFaxPhone" type="xs:string" />
            <xs:element name="sCrreoElctrnco" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WS_ResultadoConsultaClientesMas">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Error" type="xs:string" />
            <xs:element name="Descripcion" type="xs:string" />
            <xs:element name="nRimNo" type="xs:int" />
            <xs:element name="sRimType" type="xs:string" />
            <xs:element name="sSex" type="xs:string" />
            <xs:element name="nTitleId" type="xs:int" />
            <xs:element name="sLastName" type="xs:string" />
            <xs:element name="sFirstName" type="xs:string" />
            <xs:element name="sMiddleInitial" type="xs:string" />
            <xs:element name="sPreferredName" type="xs:string" />
            <xs:element name="sSuffix" type="xs:string" />
            <xs:element name="sTaxIdNumber" type="xs:string" />
            <xs:element name="sTinFormat" type="xs:string" />
            <xs:element name="dtBirthDt" type="xs:dateTime" />
            <xs:element name="dtDeceasedDt" type="xs:dateTime" />
            <xs:element name="sCityOfBirth" type="xs:string" />
            <xs:element name="nIdentId" type="xs:int" />
            <xs:element name="sIdValue" type="xs:string" />
            <xs:element name="sMotherMaidenName" type="xs:string" />
            <xs:element name="dtEffectiveDt" type="xs:dateTime" />
            <xs:element name="sStatus" type="xs:string" />
            <xs:element name="nClassCode" type="xs:int" />
            <xs:element name="nBranchNo" type="xs:int" />
            <xs:element name="nRsmIdNo" type="xs:int" />
            <xs:element name="sTINRsm" type="xs:string" />
            <xs:element name="nRiskCode" type="xs:int" />
            <xs:element name="sRiskReason" type="xs:string" />
            <xs:element name="sTaxIdCertified" type="xs:string" />
            <xs:element name="dtBackupStatDt" type="xs:dateTime" />
            <xs:element name="sTaxExempReason" type="xs:string" />
            <xs:element name="dtExempExpiryDt" type="xs:dateTime" />
            <xs:element name="dtCertDate" type="xs:dateTime" />
            <xs:element name="sBackupWhithold" type="xs:string" />
            <xs:element name="sBackupWhReason" type="xs:string" />
            <xs:element name="dtBackupStartDt" type="xs:dateTime" />
            <xs:element name="dtBackupStatChDt" type="xs:dateTime" />
            <xs:element name="dtBNotice1Dt" type="xs:dateTime" />
            <xs:element name="dtBNotice2Dt" type="xs:dateTime" />
            <xs:element name="nRestrictId" type="xs:int" />
            <xs:element name="sRegOCode" type="xs:string" />
            <xs:element name="sRetainDebtHist" type="xs:string" />
            <xs:element name="sPurchased" type="xs:string" />
            <xs:element name="sCountryCode" type="xs:string" />
            <xs:element name="nUserIdNo" type="xs:int" />
            <xs:element name="sPotential" type="xs:string" />
            <xs:element name="sEconomicGroup" type="xs:string" />
            <xs:element name="nSicCode" type="xs:int" />
            <xs:element name="sEconomicSector" type="xs:string" />
            <xs:element name="nTintypeId" type="xs:int" />
            <xs:element name="sCountryOfBirth" type="xs:string" />
            <xs:element name="sTitleECode" type="xs:string" />
            <xs:element name="SCityOfBirthECode" type="xs:string" />
            <xs:element name="sStateOfBirth" type="xs:string" />
            <xs:element name="sCountyOfBirth" type="xs:string" />
            <xs:element name="nClasifPrev" type="xs:int" />
            <xs:element name="nDateClasif" type="xs:dateTime" />
            <xs:element name="nDateLastClasif" type="xs:dateTime" />
            <xs:element name="sClasifType" type="xs:string" />
            <xs:element name="sSector_type" type="xs:string" />
            <xs:element name="sUNBankTypeNom" type="xs:string" />
            <xs:element name="nRowCount1" type="xs:int" />
            <xs:element name="nRowCount2" type="xs:int" />
            <xs:element name="nPdreRimNo" type="xs:int" />
            <xs:element name="sPdreFirstName" type="xs:string" />
            <xs:element name="sPdreLastName" type="xs:string" />
            <xs:element name="sIndcdorCbzaGrpo" type="xs:string" />
            <xs:element name="sAddressLine1" type="xs:string" />
            <xs:element name="sPhone1" type="xs:string" />
            <xs:element name="sPhone2" type="xs:string" />
            <xs:element name="sFaxPhone" type="xs:string" />
            <xs:element name="sCrreoElctrnco" type="xs:string" />
            <xs:element name="nIdCanal" type="xs:int" />
            <xs:element name="sCityCode" type="xs:string" />
            <xs:element name="sStateCode" type="xs:string" />
            <xs:element name="sPhoneMovil" type="xs:string" />
            <xs:element name="dtLastMaint" type="xs:dateTime" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WS_ResultadoConsultaDirecciones">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Error" type="xs:string" />
            <xs:element name="Descripcion" type="xs:string" />
            <xs:element name="rnAddrId" type="xs:int" />
            <xs:element name="rsAddrLine1" type="xs:string" />
            <xs:element name="rsAddrLine2" type="xs:string" />
            <xs:element name="rsAddrLine3" type="xs:string" />
            <xs:element name="rsCity" type="xs:string" />
            <xs:element name="rsState" type="xs:string" />
            <xs:element name="rsZip" type="xs:string" />
            <xs:element name="rsCountryCode" type="xs:string" />
            <xs:element name="rsPhone1" type="xs:string" />
            <xs:element name="rsPhone1Ext" type="xs:string" />
            <xs:element name="rsPhone2" type="xs:string" />
            <xs:element name="rsPhone2Ext" type="xs:string" />
            <xs:element name="rsFaxPhone" type="xs:string" />
            <xs:element name="rsFaxPhoneExt" type="xs:string" />
            <xs:element name="rsStatus" type="xs:string" />
            <xs:element name="rnAddrTypeId" type="xs:int" />
            <xs:element name="rsAddressBasis" type="xs:string" />
            <xs:element name="rdtStartDt" type="xs:dateTime" />
            <xs:element name="rdtEndDt" type="xs:dateTime" />
            <xs:element name="rsName1" type="xs:string" />
            <xs:element name="rsName2" type="xs:string" />
            <xs:element name="rsCounty" type="xs:string" />
            <xs:element name="rsAddrTypeCode" type="xs:string" />
            <xs:element name="rsCityCode" type="xs:string" />
            <xs:element name="rsCountyCode" type="xs:string" />
            <xs:element name="rsMovilPhone" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.openuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/creaCliente/impl" />
      <xs:import namespace="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/eaiInClientesPH" />
      <xs:import namespace="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/eaiInCreaClientesPH" />
      <xs:import namespace="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/impl" />
      <xs:element name="reasignacionGerentes">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Empleado" type="xs:int" />
            <xs:element name="RimCliente" type="xs:int" />
            <xs:element name="CodGerente" type="xs:int" />
            <xs:element minOccurs="0" name="AplicacionExterna" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="reasignacionGerentesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:impl="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/impl" ref="impl:WS_ResultadoSimple" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultaClientes">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:eai="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/eaiInClientesPH" ref="eai:ConsultaClientes" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultaClientesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:impl="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/impl" ref="impl:WS_ResultadoConsultaClientes" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreaCuentaAhorro">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:eai="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/eaiInCreaClientesPH" ref="eai:CreaCuentaAhorro" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreaCuentaAhorroResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:impl="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/creaCliente/impl" ref="impl:WS_ResultadoCreaCuentaAhorros" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreaCliente">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:eai="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/eaiInCreaClientesPH" ref="eai:CreaCliente" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreaClienteResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:impl="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/creaCliente/impl" ref="impl:WS_ResultadoCreaCliente" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultaClientesRechazados">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tipoId" type="xs:int" />
            <xs:element minOccurs="0" name="numId" type="xs:string" />
            <xs:element name="empleado" type="xs:int" />
            <xs:element minOccurs="0" name="AplicacionExterna" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultaClientesRechazadosResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:impl="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/impl" ref="impl:WS_ResultadoSimple" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultaClientesRe">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tipoId" type="xs:int" />
            <xs:element minOccurs="0" name="numId" type="xs:string" />
            <xs:element name="empleado" type="xs:int" />
            <xs:element minOccurs="0" name="AplicacionExterna" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultaClientesReResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:impl="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/impl" ref="impl:RtaConsultaListas" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultaDirecciones">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:eai="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/eaiInClientesPH" ref="eai:ConsultaDirecciones" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultaDireccionesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:impl="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/impl" ref="impl:WS_ResultadoConsultaDirecciones" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="VerificaEstadoCliente">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:eai="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/eaiInCreaClientesPH" ref="eai:VerificaEstadoCliente" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="VerificaEstadoClienteResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:impl="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/creaCliente/impl" ref="impl:WS_ResultadoEstadoCliente" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreaDatosAdicionalesCliente">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:eai="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/eaiInCreaClientesPH" ref="eai:CreaDatosAdicionalesCliente" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreaDatosAdicionalesClienteResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:impl="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/creaCliente/impl" ref="impl:WS_ResultadoCreaDatosAdicionales" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultaClientesMas">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:eai="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/eaiInClientesPH" ref="eai:ConsultaClientesMas" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultaClientesMasResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:impl="http://co/com/bancodecredito/eai/serviciosLinea/phoenix/impl" ref="impl:WS_ResultadoConsultaClientesMas" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </s0:types>
  <s0:message name="reasignacionGerentes">
    <s0:part name="parameters" element="s1:reasignacionGerentes" />
  </s0:message>
  <s0:message name="reasignacionGerentesResponse">
    <s0:part name="parameters" element="s1:reasignacionGerentesResponse" />
  </s0:message>
  <s0:message name="consultaClientes">
    <s0:part name="parameters" element="s1:consultaClientes" />
  </s0:message>
  <s0:message name="consultaClientesResponse">
    <s0:part name="parameters" element="s1:consultaClientesResponse" />
  </s0:message>
  <s0:message name="CreaCuentaAhorro">
    <s0:part name="parameters" element="s1:CreaCuentaAhorro" />
  </s0:message>
  <s0:message name="CreaCuentaAhorroResponse">
    <s0:part name="parameters" element="s1:CreaCuentaAhorroResponse" />
  </s0:message>
  <s0:message name="CreaCliente">
    <s0:part name="parameters" element="s1:CreaCliente" />
  </s0:message>
  <s0:message name="CreaClienteResponse">
    <s0:part name="parameters" element="s1:CreaClienteResponse" />
  </s0:message>
  <s0:message name="consultaClientesRechazados">
    <s0:part name="parameters" element="s1:consultaClientesRechazados" />
  </s0:message>
  <s0:message name="consultaClientesRechazadosResponse">
    <s0:part name="parameters" element="s1:consultaClientesRechazadosResponse" />
  </s0:message>
  <s0:message name="consultaClientesRe">
    <s0:part name="parameters" element="s1:consultaClientesRe" />
  </s0:message>
  <s0:message name="consultaClientesReResponse">
    <s0:part name="parameters" element="s1:consultaClientesReResponse" />
  </s0:message>
  <s0:message name="consultaDirecciones">
    <s0:part name="parameters" element="s1:consultaDirecciones" />
  </s0:message>
  <s0:message name="consultaDireccionesResponse">
    <s0:part name="parameters" element="s1:consultaDireccionesResponse" />
  </s0:message>
  <s0:message name="VerificaEstadoCliente">
    <s0:part name="parameters" element="s1:VerificaEstadoCliente" />
  </s0:message>
  <s0:message name="VerificaEstadoClienteResponse">
    <s0:part name="parameters" element="s1:VerificaEstadoClienteResponse" />
  </s0:message>
  <s0:message name="CreaDatosAdicionalesCliente">
    <s0:part name="parameters" element="s1:CreaDatosAdicionalesCliente" />
  </s0:message>
  <s0:message name="CreaDatosAdicionalesClienteResponse">
    <s0:part name="parameters" element="s1:CreaDatosAdicionalesClienteResponse" />
  </s0:message>
  <s0:message name="consultaClientesMas">
    <s0:part name="parameters" element="s1:consultaClientesMas" />
  </s0:message>
  <s0:message name="consultaClientesMasResponse">
    <s0:part name="parameters" element="s1:consultaClientesMasResponse" />
  </s0:message>
  <s0:portType name="ClientesPh">
    <s0:operation name="reasignacionGerentes" parameterOrder="parameters">
      <s0:input message="s1:reasignacionGerentes" />
      <s0:output message="s1:reasignacionGerentesResponse" />
    </s0:operation>
    <s0:operation name="consultaClientes" parameterOrder="parameters">
      <s0:input message="s1:consultaClientes" />
      <s0:output message="s1:consultaClientesResponse" />
    </s0:operation>
    <s0:operation name="CreaCuentaAhorro" parameterOrder="parameters">
      <s0:input message="s1:CreaCuentaAhorro" />
      <s0:output message="s1:CreaCuentaAhorroResponse" />
    </s0:operation>
    <s0:operation name="CreaCliente" parameterOrder="parameters">
      <s0:input message="s1:CreaCliente" />
      <s0:output message="s1:CreaClienteResponse" />
    </s0:operation>
    <s0:operation name="consultaClientesRechazados" parameterOrder="parameters">
      <s0:input message="s1:consultaClientesRechazados" />
      <s0:output message="s1:consultaClientesRechazadosResponse" />
    </s0:operation>
    <s0:operation name="consultaClientesRe" parameterOrder="parameters">
      <s0:input message="s1:consultaClientesRe" />
      <s0:output message="s1:consultaClientesReResponse" />
    </s0:operation>
    <s0:operation name="consultaDirecciones" parameterOrder="parameters">
      <s0:input message="s1:consultaDirecciones" />
      <s0:output message="s1:consultaDireccionesResponse" />
    </s0:operation>
    <s0:operation name="VerificaEstadoCliente" parameterOrder="parameters">
      <s0:input message="s1:VerificaEstadoCliente" />
      <s0:output message="s1:VerificaEstadoClienteResponse" />
    </s0:operation>
    <s0:operation name="CreaDatosAdicionalesCliente" parameterOrder="parameters">
      <s0:input message="s1:CreaDatosAdicionalesCliente" />
      <s0:output message="s1:CreaDatosAdicionalesClienteResponse" />
    </s0:operation>
    <s0:operation name="consultaClientesMas" parameterOrder="parameters">
      <s0:input message="s1:consultaClientesMas" />
      <s0:output message="s1:consultaClientesMasResponse" />
    </s0:operation>
  </s0:portType>
  <s0:binding name="ClientesPhSoapBinding" type="s1:ClientesPh">
    <s2:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <s0:operation name="reasignacionGerentes">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="consultaClientes">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="CreaCuentaAhorro">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="CreaCliente">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="consultaClientesRechazados">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="consultaClientesRe">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="consultaDirecciones">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="VerificaEstadoCliente">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="CreaDatosAdicionalesCliente">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="consultaClientesMas">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="ClientesPh">
    <s3:upgraded81 />
    <s0:port name="ClientesPhSoap" binding="s1:ClientesPhSoapBinding">
      <s2:address location="http://boinfbxsoa:20100/WSSLiClientesPh/ClientesPh.jws" />
    </s0:port>
  </s0:service>
</s0:definitions>